@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }


.range {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 12px;
  cursor: pointer;
  border-radius: 10px;
}

.range::-webkit-slider-runnable-track
{
  background: #ddd;
  border: none;
  @apply dark:bg-black
}

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background-color: rgba(93, 92, 92, 0);
    border: 2px solid #fff;
    box-shadow: -100vw 0 0 99vw #000000;
    border-radius: 50%;
  }


  .dark .range::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 99vw #f7f7f7;
  }


  .volume_slider {
    -webkit-appearance: slider-vertical;
    accent-color: #000000;
    height: 5rem;
  }

  .overflow-fadeout:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 99%);
    width: 50px;
    height: 100%;
  }

  .text-bg-difference {
    mix-blend-mode: difference;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;

      --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
      --secondary-glow: linear-gradient(
              to bottom right,
              rgba(1, 65, 255, 0),
              rgba(1, 65, 255, 0),
              rgba(1, 65, 255, 0.3)
      );

      --tile-start-rgb: 2, 13, 46;
      --tile-end-rgb: 2, 5, 19;
      --tile-border: conic-gradient(
              #ffffff80,
              #ffffff40,
              #ffffff30,
              #ffffff20,
              #ffffff10,
              #ffffff10,
              #ffffff80
      );

      --callout-rgb: 20, 20, 20;
      --callout-border-rgb: 108, 108, 108;
      --card-rgb: 100, 100, 100;
      --card-border-rgb: 200, 200, 200;
    }
  }

  .sideways-scroll {
    width: 100%;
    white-space: nowrap;
    line-clamp: 1;
    text-overflow: ellipsis;
  }

  .sideways-scroll:hover {
    animation: scroll-text 10s linear infinite;
  }

  @keyframes scroll-text {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .basis-unset {
    flex-basis: unset;
  }